# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Objectives: 
- List popular languages for Data Science
- List common libraries used by Data Scientists
- Creating Tables in Jupyter Notebook
- Arithmetic expressions in Jupyter Notebook

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include: 
1. GGPlot
2. Stringr
3. Matplotlib

|Data Science Tools|
|------------------|
|Jupyter Notebook|
|R Studio|
|Anaconda|

### Below are a few examples of evaluating arithmetic expressions in Python:

This is a simple arithmetic expression to multiply then add integers.

In [5]:
(3*4)+5

17

This will convert 200 minutes to hours by dividing by 60.

In [6]:
200/60

3.3333333333333335

## Author
Will Montaruli